/*PALETA DE COLORES- MODO OSCURO*/

:root{
    --header-color: #191e2b;
    --body-color: #4d4d4d;
    --panel-color: #252935;
    --button-color: #28a428;
    --image-space-color: #000000;
    --text-space-color: #ffffff;
    --font-color: #ffffff;
    --font-family-general:'Open Sans', sans-serif;
    --font-family-meme: 'Impact', sans-serif;
    --hover-color: #4e5565;
    --hover-color-download: #328032;
}

/*PALETA DE COLORES- MODO CLARO*/

[theme="light-theme"] {
    --header-color: #e0e0e0;
    --body-color: #eeeeee;
    --panel-color: #fafafa;
    --button-color: #28a428;
    --image-space-color: #000000;
    --text-space-color: #424242;
    --font-color: #000000;
    --hover-color: #bdbdbd;
    --hover-color-download: #328032;
}

/* GENERALIDADES */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--font-color);
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    font-family: var(--font-family-general);
    align-items: center;
    height: 100vh;
}

/* HEADER */

header{
    background-color: var(--header-color);
    text-align: center;
    padding: 0.5% 5%;
    font-size: 0.8rem;
    justify-content: center;
    width: 100%;
}

/* MAIN */

main {
    width: 85%;
}

.main-panel{
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* MEME TEXTS */

.meme-top-text , .meme-bottom-text{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 15%;
    padding: 2.5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--font-family-meme);
    color: #000000;
    font-weight: bolder;
    font-size: 1.5rem;
}

/* MEME */

.meme-container{
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.meme-image{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* BUTTONS */

.open-image-menu , .open-text-menu , .close-menu , .change-color-theme , .button-reset , #button-align{
    background-color: var(--header-color);
    border: none;
    padding: 0.9%;
    margin: 0.5%;
    border-radius: 5px;
    outline: none;
}

.download-button{
    background-color: var(--button-color);
    border: none;
    padding: 2%;
    border-radius: 5px;
    outline: none;
    margin: 2% 0% 0% 0%;
}

.button-reset{
    padding: 2.5%;
    border-radius: 5px;
    width: 60%;
    margin: 6% 2%;
}

.close-menu{
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 50px;
    padding: 0.2% 0.6%;
    margin-right: 1.1%;
    margin-top: 1.1%;
}

/* ASIDE PANEL */

aside{
    display: none;
    width: 35vw;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 1% 0.5%;
    background-color: var(--panel-color);
    font-size: 0.5rem;
}

/* INPUTS */

input[type='range']{
    background-color: var(--body-color);
    border-radius: 12px;
    appearance: none;
    width: 96%;
    height: 5px;
    margin: 3.5% 2%;
    color: var(--font-color)
}

input[type='text'] , #top-text-input, #bottom-text-input ,#font-family-selection , input[type='number'] , #align-left , #align-center , #align-right , #line-height , input[type='color'] , .contour-none , .contour-light , .contour-dark , #filters , input[type="checkbox"] , #font-color-options , #background-color-options ,#background-text-color-options{
    background-color: var(--body-color);
    border-radius: 3px;
    color: var(--font-color);
    outline: none;
    border: none;
    margin: 2%;
    padding: 1.5%;
}

input[type='text'] , textarea , #font-family-selection , #space-between , #line-height {
    width: 96%;
    height: 23px;
}

#filters{
    height: 27px;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: var(--text-space-color);
    cursor: pointer;
}

/* ASIDE TITLES */

h2 {
    text-align: center;
    margin: 2%;
    font-size: 1.2rem;
}

h3{
    margin: 2%;
    font-size: 0.8rem;
}

label{
    margin: 2%;
    font-size: 0.6rem;
}

/* ASIDE COLUMN DISPLAY */

#font-options , #color-options-for-texts , #background-options{
    display: flex;
    width: 100%;
    align-items: center;
}

#font-size-selector , #text-align-options ,#font-color-options-for-texts , #background-color-options-for-texts , #background-filters-options , #background-color-options{
    width: 50%;
}

/* BUTTON OPTIONS */

#align-left , #align-center , #align-right{
    height: 21px;
    text-align: center;
    padding: 3%;
    width: 25%;
    margin: 3.5%;
}

.contour-none ,  .contour-light , .contour-dark {
    padding: 3%;
}

/* INPUTS COLOR */

input[type='color']{
    height: 20px;
    width: 20px;
    padding: 0px;
    margin: 0px;
}

#text-color-input::-webkit-color-swatch , #back-color-input::-webkit-color-swatch , .input-color::-webkit-color-swatch{
    border-radius: 50%;
    height: 12px;
    width: 10px;
}

span{
    font-size: 0.8rem;
}

/* HOVERS */

.open-image-menu:hover , .open-text-menu:hover , .close-menu:hover , .change-color-theme:hover , .button-reset:hover , #button-align:hover, input[type='text']:hover , #top-text-input:hover , #bottom-text-input:hover , #font-family-selection:hover , input[type='number']:hover , #align-left:hover , #align-center:hover , #align-right:hover , #line-height:hover , input[type='color']:hover , .contour-none:hover , .contour-light:hover , .contour-dark:hover , #filters:hover , input[type="checkbox"]:hover , #font-color-options:hover  , #background-color-options:hover ,#background-text-color-options:hover, #align-left:hover , #align-center:hover , #align-right:hover{
    background-color: var(--hover-color);
}

.download-button:hover{
    background-color: var(--hover-color-download)
}

/* FOCUS */

#button-align:focus , input[type='text']:focus , #top-text-input:focus , #bottom-text-input:focus , #font-family-selection:focus , input[type='number']:focus , #align-left:focus , #align-center:focus , #align-right:focus , #line-height:focus , input[type='color']:focus , .contour-none:focus , .contour-light:focus , .contour-dark:focus , #filters:focus , input[type="checkbox"]:focus , #font-color-options:focus  , #background-color-options:focus ,#background-text-color-options:focus , #align-left:focus , #align-center:focus , #align-right:focus , input[type="range"]:focus{
    background-color: var(--hover-color);
}

/* ACTIVE */

input[type="range"]:active {
	cursor: grabbing;
}

/* MEDIA QUERIES */ 

@media (min-width: 481px) and (max-width: 768px){
    main{
        margin: 0%;
        width: 85%;
    }
    .main-panel{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1279px){
    .main{
        margin: 0%;
        width: 45%;
    }
    .main-panel{
        width: 80%;
    }
    .meme-image{
        height: 340px;
    }
}

@media (min-width: 1280px) and (max-width: 2500px){
    header main{
        width: 85vw;
    }
    aside{
        display: block;
        width: 18vw;
    }
    .close-menu{
        display: none;
    }
    .main-panel{
        width: 45%;
    }
    .meme-image{
        height: 340px;
    }
    .text-section{
        display: none;
    }
}