/*PALETA DE COLORES- MODO OSCURO*/

:root{
    --header-color: #191e2b;
    --body-color: #4d4d4d;
    --panel-color: #252935;
    --button-color: #28a428;
    --image-space-color: #000000;
    --text-space-color: #ffffff;
    --font-color: #ffffff;
    --font-family-general:'Open Sans', sans-serif;
    --font-family-meme: 'Impact', sans-serif;
}

/*PALETA DE COLORES- MODO CLARO*/

[theme="light-theme"] {
    --header-color: #e0e0e0;
    --body-color: #eeeeee;
    --panel-color: #fafafa;
    --button-color: #28a428;
    --image-space-color: #000000;
    --text-space-color: #ffffff;
    --font-color: #424242;
}

/* GENERALIDADES */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--font-color);
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
    font-family: var(--font-family-general);
    align-items: center;
    height: 100vh;
}

/* HEADER */

header{
    background-color: var(--header-color);
    text-align: center;
    padding: 0.5% 5%;
    font-size: 0.8rem;
    justify-content: center;
    width: 100%;
}

/* MAIN */
.main-panel{
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    width: 85%;
}

.meme-top-text , .meme-bottom-text{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 15%;
    padding: 2.5%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--font-family-meme);
    color: #000000;
    font-weight: bolder;
    font-size: 1.5rem;
}



.meme-image{
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
}

/* BOTONES */

.button, .open-image-menu , .open-text-menu , .close-menu , .change-color-theme , .button-reset{
    background-color: var(--header-color);
    border: none;
    padding: 0.8%;
    margin: 0.5%;
    border-radius: 10px;
    outline: none;
}

.download-button{
    background-color: var(--button-color);
    border: none;
    padding: 2%;
    border-radius: 5px;
    outline: none;
    margin: 2%;
}

.button-reset{
    padding: 2.5%;
    border-radius: 5px;
}

/* PANEL */

aside{
    display: none;
    width: 260px;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 1% 0.5%;
    background-color: var(--panel-color);
    font-size: 0.5rem;
}

input[type='range']{
    background-color: var(--body-color);
    border-radius: 12px;
    appearance: none;
    width: 100%;
    height: 5px;
    margin-top: 12px;
    color: var(--font-color)
}

input[type='text'] , #top-text-input, #bottom-text-input ,#font-family-selection , input[type='number'] , #alineacion , input[type='color'] , #line-height , .contour , #filters {
    background-color: var(--body-color);
    border-radius: 5px;
    color: var(--font-color);
}

/* MEDIA QUERIES */ 

@media (min-width: 481px) and (max-width: 768px){
    main{
        margin: 0%;
        width: 85%;
    }
    .main-panel{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1279px){
    .main{
        margin: 0%;
        width: 45%;
    }
    .main-panel{
        width: 80%;
    }
    .meme-image{
        height: 340px;
    }
}

@media (min-width: 1280px) and (max-width: 2500px){
    header main{
        width: 85vw;
    }
    aside{
        display: block;
        width: 15vw;
    }
    .main-panel{
        width: 45%;
    }
    .meme-image{
        height: 340px;
    }
    .text-section{
        display: none;
    }
}